body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 500px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
}
button[type="button"]{
    width: 100px;
    background-color: red;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px;
}